body {
    height: 100vh;
    background: url(assets/arm-1284248_1280.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

h1 {
    font-size: 3rem;
    margin-bottom: 50px;
    margin-left: 90px;
}

#add-task-container {
    width: 400px;
    padding: 20px 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    display: flex;
    margin-bottom: 30px;
}

input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
    border: 2px solid gray;
}

#add-task {
    flex: 1;
    transition: .3s;
    padding: 5px;
    font-size: 1.2rem;
    background-color: white;
    color: green;
    border: green solid 2px;
    border-radius: 10px;
}

#add-task:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

/* styling for task which get added to to-do list */
.task {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}

.task button {
    flex: 1;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.task .checkTask {
    color: orange;
    margin-right: 5px;
    border: solid 2px orange;
    font-size: 1.5rem;
}

.task .deleteTask {
    color: red;
    border: solid 2px red;
    font-size: 1.3rem;
}

.task .checkTask:hover {
    background-color: orange;
    color: white;
}

.task .deleteTask:hover {
    background-color: red;
    color: white;
}